body {
    font-family: Arial, sans-serif;
  background-image: url('https://raw.githubusercontent.com/RahulBRB/ID-Card-Generator/main/assets/bg.gif') !important;
  background-color: rgba(0, 0, 0, 0.299);
  background-repeat: none;
  background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    color: rgb(7, 7, 173);
    font-weight: 1000;
    font-size: 2rem;
}
h4{
    color: rgb(7, 7, 173);
    font-weight: 700;

}
svg{
    position: relative;
    top: 8px;
}
.id-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px rgb(0, 0, 0);
    border-radius: 10px;
    width: 450px;
    padding: 20px;
    text-align: center;

}

.preview {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 25px 25px 0px 0px;
    border: 1px solid #ccc;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    line-height: 0.2rem;
    text-align: left;
    background-color: rgba(64, 64, 165, 0.105);
}

.inner{
    width: 50%;
    padding-left: 60px;
}


.image{
    width: 150px;
    height: 200px;
    background-color: rgba(171, 157, 248, 0.836);
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-image{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.change{
    border: 2px dashed crimson;
    background-color: #bf6d02;
}
.About{
    background-color: rgba(64, 64, 165, 0.171);
    padding-left: 2rem;
    border: 1px solid #ccc;
    margin-bottom: 0rem;
  height: auto !important;
    text-align: left;
    line-height: 1.2rem !important;
    border-radius: 0px 0px 25px 25px ;

}
#user-about{
  height:auto !important;
}
p{
    padding-bottom: 0.5rem;
    font-weight: 600;
}

#id-card-form {
    margin-top: 20px;
    padding-right: 20px; /* Added padding-right */
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(7, 7, 173);
    color: white;
    font-weight: 1000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

button:hover {
    background-color: grey;
    color: black;
    transition: 0.2s;
}
